#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.bcloud {
    text-align: center;
    font-size: 4em;
}

.b-letter {
    color: orange;
    font-weight: bold;
}
